<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>webApp</title>
    </head>
<body>
    <%- include('partials/_header') %>
    <main>
        <div class="card text-center">
            <div class="card-header"></div>
            <div class="card-body">
              <h5 class="card-title">Long URL for: <%= longURL %></h5>
              <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
            </div>
          <div class="card-footer text-muted">
            <h3>Edit URL</h3>
              <form class="form-inline" action="/urls/<%= shortURL %>" method="POST">
                <div class="form-group mb-2">
                  <label for="longURL">Do you want new URL?!:</label>
                  <input class="form-control" type="text" name="Hyi" value="<%= longURL %>" style="width: 300px; margin: 1em">
                  <button type="submit" class="btn btn-primary">Yup</button>
                </div>
              </form>
          </div>
        </div>
    </main>
    <%- include('partials/_footer') %>
</body>
</html>