<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>webApp</title>
    </head>
    <body>
        <%- include('partials/_header') %>
        <main>
            <h4 class="nav-item nav-link text-primary"><strong> <%= cocktailName %> </strong></h4>
            <% let cnt = 1 %>
            <% for(let element of ingredients) { %>
                <label type="text" name="ingredient + <% cnt %>">"Ingredient" <%= cnt %></label>
                <input class="form-control" type="text" name="ingredient + <% cnt %>" placeholder="<%= element.ingredients %>" style="width: 200px;"></input>
                <% cnt++ %>
            <% } %> 
            <br>
            <button type="submit" class="btn btn-primary" style="width: 150px">Submit</button>
        </main>
        <%- include('partials/_footer') %>
    </body>
</html>
