<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">
        <title>webApp</title>
    </head>
    <body>
        <%- include('partials/_header') %>
        <main class="edit-cocktails-main">
            <div class="container">
                <form action="/myCocktails" method="POST">
                    <h4 class="nav-item nav-link mt-0 mb-1 p-0 h2"><strong class="text-white"> <%= cocktailName %> </strong></h4>
                    <input class="sr-only" type="text" name="cocktailName" value="<%= cocktailName %>"> 
                    <input class="sr-only" type="text" name="cocktailId" value="<%= cocktailId %>"> 
                    <% let cnt = 1 %>
                    <% for(let element of ingredients) { %>
                        <div id="ingredient" class = "d-flex flex-row">
                            <div class="text-white mt-2 mr-1 h5">
                                <label type="text" name="ingredient <% cnt %>">Ingredient <%= cnt %></label>
                                <input class="form-control" type="text" name="ingredient" value="<%= element.ingredients %>" style="width: 200px;"></input>
                            </div>
                            <div class="text-white mt-2 h5">
                                <label type="text" name="amount"+<% cnt %>>Amount of ingredient <%= cnt %></label>
                                <input class="form-control" type="text" name="amount" value="<%= element.amount %>" style="width: 200px;"></input>
                            </div>
                        </div>
                        <% cnt++ %>
                    <% } %>
                    <p class="text-white h4">Additional ingredients:</p>
                    <div id="ingredients-field" class="d-flex flex-column">
                    </div>
                    <button type="button" class="add-cocktail-button mt-1 mb-1 text-white" id="addIngredient">+ingredient</button>
                    <br>
                    <button type="submit" class="add-cocktail-button mb-2 text-white" style="width: 150px">Submit</button>
                </form>
            </div>
        </main>
        <%- include('partials/_footer') %>
        <!-- <script>
            const addIngredientField = () => {
                let ingredientFieldContainer = document.createElement("div");
                let ingredientNameField = document.createElement("input");
                ingredientNameField.name = `ingredient`;
                ingredientNameField.placeholder = `ingredient`;
                let ingredientAmountField = document.createElement("input");
                ingredientAmountField.name = `amount`;
                ingredientAmountField.placeholder = `amount`;
                ingredientFieldContainer.appendChild(ingredientNameField);
                ingredientFieldContainer.appendChild(ingredientAmountField);
                const ingredientsBox = document.getElementById('ingredients-field');
                ingredientsBox.appendChild(ingredientFieldContainer);
            }
            const addIngredient = document.getElementById('addIngredient');
            addIngredient.addEventListener('click', addIngredientField);
        </script>-->
        <script>
            const createIngredientField = () => {
                let ingredientFieldContainer = document.createElement("div");

                let addAttributesDiv = [ "d-flex", "flex-row", "form-inline"];
                let addAttributesInput = ["form-control", "mt-1", "mr-1"];
                
                for (let index in addAttributesDiv) {
                  ingredientFieldContainer.classList.add(addAttributesDiv[index])
                }
    
                let ingredientNameField = document.createElement("input");
                for (let index in addAttributesInput) {
                  ingredientNameField.classList.add(addAttributesInput[index])
                }
                ingredientNameField.setAttribute("style", "width: 200px")
                ingredientNameField.name = `ingredient`;
                ingredientNameField.placeholder = `Ingredient`;
    
                let ingredientAmountField = document.createElement("input");
                for (let index in addAttributesInput) {
                  ingredientAmountField.classList.add(addAttributesInput[index])
                }
                ingredientAmountField.setAttribute("style", "width: 200px")
                ingredientAmountField.name = `amount`;
                ingredientAmountField.placeholder = `Amount`;
                ingredientFieldContainer.appendChild(ingredientNameField);
                ingredientFieldContainer.appendChild(ingredientAmountField);
                const ingredientsBox = document.getElementById('ingredients-field');
                ingredientsBox.appendChild(ingredientFieldContainer);
    
            }
            const addIngredient = document.getElementById('addIngredient');
            addIngredient.addEventListener('click', createIngredientField);
        </script>
    </body>
</html>
