<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">
        <title>webApp</title>
    </head>
    <body>
        <%- include('partials/_header') %>
        <main class="edit-cocktails-main">
            <div class="container">
                <form action="/myCocktails" method="POST">
                    <h4 class="nav-item nav-link mt-0 mb-1 p-0 h2"><strong class="text-white name-cocktail-holder"> <%= cocktailName %> </strong></h4>
                    <input class="sr-only" type="text" name="cocktailName" value="<%= cocktailName %>"> 
                    <input class="sr-only" type="text" name="cocktailId" value="<%= cocktailId %>"> 
                    <% let cnt = 1 %>
                    <% for(let element of ingredients) { %>
                        <div id="ingredient" class = "d-flex flex-row">
                            <div class="text-white mt-2 mr-1 h5">
                                <label class="amount-holder" type="text" name="ingredient <% cnt %>">Ingredient <%= cnt %></label>
                                <input class="form-control" type="text" name="ingredient" value="<%= element.ingredients %>"></input>
                            </div>
                            <div class="text-white mt-2 h5">
                                <label class="amount-holder" type="text" name="amount"+<% cnt %>>Amount of ingredient <%= cnt %></label>
                                <input class="form-control" type="text" name="amount" value="<%= element.amount %>"></input>
                            </div>
                        </div>
                        <% cnt++ %>
                    <% } %>
                    <p class="text-white h4 name-cocktail-holder">Additional ingredients:</p>
                    <div id="ingredients-field" class="d-flex flex-column">
                    </div>
                    <button type="button" class="add-cocktail-button mt-1 mb-1 text-white" id="addIngredient">+ingredient</button>
                    <br>
                    <button type="submit" class="add-cocktail-button mb-2 text-white" style="width: 150px">Submit</button>
                </form>
            </div>
        </main>
        <%- include('partials/_footer') %>
        <script src="/static/createIngredientField.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
