<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">
        <title>webApp</title>
    </head>
    <body>
      <%- include('partials/_header') %>
      <main class="addNew-main">
        <div class="container">
          <h4 class="nav-item nav-link m-0 text-center text-white cocktiail-name-header"><strong> <%= cocktailName %> </strong></h4>
          <table class="table">
            <thead>
              <tr class="text-white table-header">
                <th scope="col">Cocktail name</th>
                <th scope="col">Ingredients</th>
                <th scope="col">Amount</th>
                <% if (isUsersCocktail) { %>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-white list-name"><%= cocktailName %></td>
                <td>
                    <ul>
                    <% for(let element of ingredients) { %>
                        <li class="bullets-color">
                            <div>
                              <span class="text-white list-item"><%= element.ingredients %></span>
                            </div>
                        </li>
                    <% } %> 
                    </ul>    
                </td>
                <td>
                  <ul>
                  <% for(let element of ingredients) { %>
                      <li class="bullets-color">
                          <div>
                            <span class="text-white list-item"><%= element.amount %></span>
                          </div>
                      </li>
                  <% } %> 
                  </ul>    
              </td>
                <% if (isUsersCocktail) { %>
                <td>
                  <a class="edit-ingredients-button text-decoration-none text-white" href="/cocktail/<%= cocktailId %>/edit">Edit</a>
                </td>
                <td>
                  <form method="POST" action="/cocktail/<%= cocktailId %>/delete">
                    <button class="edit-ingredients-button text-decoration-none text-white" type="submit">DELETE</button>
                  </form>
                </td>
                <% } %>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
      <%- include('partials/_footer') %>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>